*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(14, 14, 14);
    color: rgb(253, 254, 255);
}

h1{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
h2{
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
}
h3{
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
}
h4{
    margin-top: 10px;
    font-size: 20px;
}
h5{
    margin-left: 10px;
}
/*-------------------------- -------------------HEADER------------------- --------------------------*/
header{
    background-color: rgb(1, 1, 1);
    height: 130px;
    top: 0px;
    position: sticky;

    display: flex;
    justify-content: space-around;
    align-items: center;

}
div.logo{
    height: 100px;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
}
.logo-img{
    height: 100px;
}
nav{
    display: inline-block;
}

li.nav{
    display: inline-block;
    font-size: 20px;
    padding: 35px;
}
a{
    color: rgb(253, 254, 255);
    text-decoration: none;
}
a:hover{
    color:#580A20;
;
}

/*-------------------------- -------------------MAIN------------------- --------------------------*/

main{
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
main.produtos{
    flex-direction:row;
}

/*-------------------BANNER-------------------*/
.banner{
    width: auto;
    display: flex;
    justify-content: center;
}
.linha{
    background-color: aliceblue;
    height: 2px;
    width: auto;
    
}
/*-------------------HARMONIA-------------------*/
.harmonias{
    margin-top: 50px;
    margin-bottom: 150px;
}

.harmonias-item{
    display: flex;
    justify-content:space-between;
    text-align: center;
    flex-wrap: wrap;
}
.harmonias-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}


/*-------------------categorias-------------------*/

.categorias{
    margin-top: 200px;
}
.categorias-tipos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.categorias-tipo{
    display:inline-block;
    padding: 30px;

}
img.categorias-foto{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    
}


/*-------------------MAIS PROCURADOS-------------------*/
.mais-procurados{
    margin-top: 200px;
}
.filera{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.vinho{
    background-color:rgb(24, 24, 24);
    width: 210px;
    padding: 30px;
    margin: 15px 20px;
    display: inline-block;
    border-radius: 8px;
}

.vinho-img{
    height: 200px;
    width: 200px;
    border-radius: 8px ;
}
p.preco{
    margin-top: 20px;
}

input.botton{
    background-color: #580A20;
    color: #fffafc;
    padding: 10px;
    margin-top: 20px;
    border-radius: 8px;
    border: none;
}
div.ver-mais{
    display: flex;
    justify-content: center;   
    margin-top: 35px;
}
input.botton-ver-mais{
    background-color: #580A20;
    font-size: 15px;
    color: aliceblue;
    padding: 15px;
    border-radius: 8px;
    border: none;
}


/*-------------------FILTRO-------------------*/
aside{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
div.filtro{
    background-color:rgb(24, 24, 24);
    margin-top: 60px;
    padding: 30px;
    width: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}
div.categorias-filtro{
    margin-bottom: 50px;
}
a.checkbox{
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 18px;
}


/*-------------------CONTATOS-------------------*/
body.contatos{
    background-image: url("../img/imgFundo.jpg");
    width: auto;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    
}
section.container-contatos{
    margin-top: 50px;
    display: flex;
    position: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
h3#fale-conosco{
    text-align: start;
}

section.contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    margin-left: 20px;
    flex-wrap: wrap;
    
}
div.card-contato{
    margin: 0px 0px 40px ;
    padding: 20px;
    background-color:rgba(24, 24, 24, 0.561);
    border: #fffafc solid 2px;
    border-radius: 8px;
    display: flex;
}
img.contato-img{
    height: 50px;
    filter: invert();
}

section.fale-conosco{
    padding: 20px 50px;
    margin-left: 50px;
    background-color:rgba(24, 24, 24, 0.561);
    border-radius: 8px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    width: 60%;
}
div.formulario-contato{
    display: flex;
    flex-direction: column;
    width: auto;
    flex-wrap: wrap;
}
.campo-formulario{
    padding: 5px 0px;
    margin: 10px 0px;
    font-size: 20px;
}
#nome,#email,#relato,#comentario{
    font-weight: bolder;
    display: flex;
}

input.consco{
    border-radius: 5px;
    width: 350px;
    border: none;
    border: #fffeff solid 2px;
    background-color: rgba(11, 11, 11, 0.366);
    height: 25px;
    margin: 0px 20px;

}
div.opsao-relato{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}
input.consco-texto{
    margin-top: 10px;
    height: 100px;
}
.botton-enviar{
    background-color: #580A20;
    font-size: 20px;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    color: #fffafc;
    width: 100%;
}
.botton-enviar:hover{
    background-color: #050404ed;
}


/*-------------------------- -------------------FOOTER------------------- --------------------------*/
footer{
    height: 220px;
    background-color:  rgb(1, 1, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
.logo-rodape-img{
    height: 150px;
}
footer ul{
    list-style-type: none;
}
li.rodape-li, li.rodape-li-titulo{
    font-size: 20px;
    padding-top: 5px;
}
li.rodape-li-titulo{
    font-weight: bold;
    font-size: 24px;
}

.redes-sociais{
    display:inline-block;
    margin-left: 1000px;

}
.redes-img{
    width: 25px;
    padding: 5px;
}

p.rodape{
    display: flex;
    justify-content: end;
}
