*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(14, 14, 14);
    color: rgb(253, 254, 255);
}

/*-------------------------- -------------------HEADER------------------- --------------------------*/
header{
    background-color: rgb(1, 1, 1);
    height: 130px;
    top: 0px;
    position: sticky;

    display: flex;
    align-items: center;

}
div.logo{
    height: 100px;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
}
.logo-img{
    height: 100px;
}
nav{
    display: inline-block;
}

li.nav{
    display: inline-block;
    font-size: 20px;
    padding: 35px;
}
a{
    color: rgb(253, 254, 255);
    text-decoration: none;
}

/*-------------------------- -------------------MAIN------------------- --------------------------*/

main{
    height: 3000px;
    margin-bottom: 30px;
    margin-left: 200px;
    margin-right: 200px;
}

.linha{
    background-color: aliceblue;
    height: 2px;
    width: auto;
    margin-top: 50px;
}

/*-------------------BANNER-------------------*/
.banner{
    display: flex;
    justify-content: center;
}
.banner-img{
    width: auto;
}

/*-------------------HARMONIA-------------------*/
.harmonias{
    margin-top: 50px;
    margin-bottom: 150px;
}
h1{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.harmonias-item{
    display: flex;
    justify-content:space-between;
    text-align: center;
    flex-wrap: wrap;
}
.harmonias-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
h4{
    margin-top: 10px;
    font-size: 20px;
}

/*-------------------categorias-------------------*/

.categorias{
    margin-top: 200px;
}
.categorias-tipos{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.categorias-tipo{
    display:inline-block;
    padding: 30px;

}
img.categorias-foto{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    
}


/*-------------------MAIS PROCURADOS-------------------*/
.mais-procurados{
    margin-top: 200px;
    
    
}
.filera{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}
.vinho{
    background-color:rgb(24, 24, 24);
    height: 300px;
    width: 210px;
    padding: 30px;
    margin: 15px 20px;
    display: inline-block;
    border-radius: 8px;

}

.vinho-img{
    height: 200px;
    width: 200px;
    border-radius: 8px ;
}
p.preco{
    margin-top: 10px;
}

input.botton{
    background-color: #580A20;
    color: aliceblue;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}
div.ver-mais{
    display: flex;
    justify-content: center;   
    margin-top: 35px;
}
input.botton-ver-mais{
    background-color: #580A20;
    font-size: 15px;
    color: aliceblue;
    padding: 15px;
    border-radius: 8px;
    border: none;
}


/*-------------------FILTRO-------------------*/
div.filtro{
    background-color:rgb(24, 24, 24);
    margin-top: 60px;
    padding: 50px;
    display: inline-block;
    float: left;
    border-radius: 8px;
    width: 150px;
}
div.categorias-filtro{
    margin-bottom: 50px;
}
input.checkbox{
    display: inline-block;
}
div.opçoes-filtro{
    display: inline-block;
}


div.catalogo{
    display: inline-block;
    float:right;
}


/*-------------------------- -------------------FOOTER------------------- --------------------------*/
footer{
    height: 220px;
    background-color:  rgb(1, 1, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}
.logo-rodape-img{
    height: 150px;
}
footer ul{
    list-style-type: none;
}
li.rodape-li, li.rodape-li-titulo{
    font-size: 20px;
    padding-top: 5px;
}
li.rodape-li-titulo{
    font-weight: bold;
    font-size: 24px;
}

.redes-sociais{
    display:inline-block;
    margin-left: 1000px;

}
.redes-img{
    width: 25px;
    padding: 5px;
}

p.rodape{
    display: flex;
    justify-content: end;
}
