*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: rgb(14, 14, 14);
    color: rgb(253, 254, 255);
}

/*-------------------------- -------------------HEADER------------------- --------------------------*/
header{
    background-color: rgb(0, 0, 0);
    height: 120px;
    top: 0px;
    position: sticky;

}
div.logo{
    height: 100px;
    display: inline-block;
    margin: 10px;
    margin-left: 50px;
}
.logo-img{
    height: 100px;
}
ul{
    display: inline-block;
    margin-left: 500px;
}
li{
    display: inline-block;
    font-size: 20px;
    padding: 35px;
}
a{
    color: rgb(253, 254, 255);
}

/*-------------------------- -------------------MAIN------------------- --------------------------*/

main{
    height: 3000px;
    margin-bottom: 30px;
}

.linha{
    background-color: aliceblue;
    height: 1px;
    width: auto;
}

/*-------------------BANNER-------------------*/
.banner{
    display: flex;
    justify-content: center;
}
.banner-img{
    width: 1900px;
}

/*-------------------HARMONIA-------------------*/
.harmonias{
    margin-top: 100px;
    height: 300px;
}
h1{
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}
.harmonias-item{
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content:space-around;
}
.harmonias-img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
h4{
    font-size: 20px;
    text-align: center;
}

/*-------------------categorias-------------------*/

.categorias{
    margin-top: 200px;
    height: 400px;
    
}

.categorias-tipo{
    display:inline-block;
    padding: 50px;

}
img.categorias-foto{
    width: 200px;
    height: 200px;
    border-radius: 8px;
}


/*-------------------------- -------------------FOOTER------------------- --------------------------*/
footer{
    height: 150px;
    bottom: 0px;
    background-color: antiquewhite;
}

